body {
  background: var(--color-light);
  color: var(--color-dark);
  line-height: 1.6;
  font-size: var(--size-base);
  font-family: var(--font-base);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

p,
li,
dl,
blockquote,
figcaption {
  max-width: 75ch;
}

[role="list"] {
  padding: 0;
  margin-bottom: 0;
}

/* svg {
  width: 1em;
  height: 1em;
} */

header {
  /* temp */
  /* background-image: url("/assets/images/css.png"); */
  /* height: 10vh; */
}
